/**
 * NOTE: Waybar uses GTK+ CSS; its CSS support isn't complete 
 *
 * GTK's colour reproduction isn't the same as in browsers & gpick.
 */

/* Matte colours */
@define-color blue-col #00a6ff;
@define-color dark-grey-col #2b2b2b;
@define-color green-col #55aa55;
@define-color grey-col #555555;
@define-color light-grey-col #444444;
@define-color orange-col #ff5722;
@define-color purple-col #9f78e1;
@define-color red-col #f11832;
@define-color transparent-col transparent;
@define-color white-col #e8eae7;
@define-color yellow-col #ecb939;
@define-color yellow-green-col #c2ff06;

@define-color some-green-col #1c8113;
@define-color some-orange-col #814113;
@define-color some-red-col #81131c;
@define-color some-yellow-col #817813;
@define-color some-yellow-green-col #456f15;

@define-color some-blue-col #64869a;
@define-color some-dark-blue-col #344963;
@define-color some-dark-red-col #b73d3a;
@define-color some-yellow-1-col #c18a24;

/* FlatUI */
@define-color alizarin-col #e74c3c;
@define-color android-green-col #a3cb38;
@define-color carrot-col #e67e22;
@define-color circumorbital-ring-col #5758bb;
@define-color clouds-col #ecf0f1;
@define-color electromagnetic-col #2f3640;
@define-color energos-col #c4e538;
@define-color green-sea-col #16a085;
@define-color matte-purple-col #8c7ae6;
@define-color naval-col #40739e;
@define-color nephritis-col #27ea60;
@define-color pixelated-grass-col #009432;
@define-color pomegranate-col #c0392b;
@define-color protoss-pylon-col #00a8ff;
@define-color puffins-bill-col #ee5a24;
@define-color wisteria-col #8e44ad;

/* Intense colours (max saturation) */
@define-color black-col #000000;
@define-color emerald-alt-col #06ff76;
@define-color green-alt-col #0cff06;
@define-color orange-alt-col #ff7606;
@define-color red-alt-col #ff060c;
@define-color yellow-alt-col #fff906;
@define-color yellow-green-alt-col #8fff06;

@define-color great-col @green-alt-col;
@define-color meh-col @yellow-alt-col;
@define-color not-ok-col @orange-alt-col;
@define-color ok-col @yellow-green-alt-col;
@define-color warn-col @red-alt-col;

@keyframes flash {
  to {
    color: @white-col;
  }
}

/**
 * Common section
 */
* {
  /* border-radius: 3px; */
  border-radius: 0px;
  border: none;
  min-height: 0;

  color: @white-col;
  font-family: "DejaVu Sans Mono", "Inconsolata", "Unifont", "sans-serif";
  font-size: 15px;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-bluetooth,
#custom-nvidia-gpu,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces button,
label:focus {
  background-color: @dark-grey-col;
  margin: 0px 4px;
  padding: 7px;
}

label:focus,
#workspaces button {
  margin: 0px;
}

#battery,
#cpu,
#memory {
  /* color: @green-sea-col; */
  color: @great-col;
}

#battery.ok,
#cpu.2,
#memory.2 {
  color: @ok-col;
}

#battery.low,
#cpu.5,
#memory.5 {
  color: @meh-col;
}

#battery.warning,
#cpu.6,
#memory.6 {
  color: @not-ok-col;
}

#battery.charging,
#battery.critical:not(.charging),
#cpu.7,
#cpu.8,
#memory.7,
#memory.8 {
  animation-direction: alternate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-name: flash;
  animation-timing-function: linear;
}

#battery.critical:not(.charging),
#memory.8,
#cpu.8 {
  color: @red-alt-col;
}

#mpd.disconnected,
#mpd.stopped,
#network.disconnected,
#pulseaudio.muted {
  color: @grey-col;
}

/**
 * Window section
 */
window#waybar {
  background-color: transparent;
  padding: 0;
  transition-duration: 0.7s;
  transition-property: background-color;
}

window#waybar.hidden {
  opacity: 0.2;
}

/**
 * Workspaces section
 */
#workspaces {
  padding: 0 0 0 4px;
}

/* #workspaces button {
 *   border-radius: 0px;
 * } */

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inherit;

  background: rgba(0, 0, 0, 0.2);
  color: @dark-grey-col;
}

#workspaces button.focused {
  background-color: @green-sea-col;
  color: @dark-grey-col;
}

#workspaces button.urgent {
  background-color: @alizarin-col;
}

/**
 * Battery section
 */
#battery.charging {
  animation-duration: 0.7s;
  color: @great-col;
}

/**
 * Backlight section
 */
#backlight {
  color: @carrot-col;
}

/**
 * Network section
 */
#network {
  color: @energos-col;
}

#network.linked {
  color: @warn-col;
}

/**
 * Custom section
 */
#custom-bluetooth {
  color: @blue-col;
}

#custom-nvidia-gpu {
  color: @great-col;
}

/**
 * Temperature section
 */
#temperature.critical {
  /* background-color: #eb4d4b; */
  color: @warn-col;
}

/**
 * Idle inhibitor section
 */
#idle_inhibitor.activated {
  color: @matte-purple-col;
}

/**
 * MPD section
 */
#mpd {
  color: @puffins-bill-col;
}

#mpd.paused {
  color: @white-col;
}
